<div class="cnt1 cnt4">
<h2>Reset Password</h2>

<p id="notice"><%= notice %></p>


<%= form_for @user, validate:true, :url => password_reset_path(params[:id]) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <ul class="login-form">
  <li>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'txt'  %>
  </li>
  <li>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'txt'  %>
  </li>
  <li>
    <%= f.submit "Update Password", class: 'btn'%>
  </li>
  </ul>
<% end %>
</div>