<%= render :partial => "shared/reorder_rank_commons"%>
<div style="height:60px; width:100px">&nbsp;</div>

<%= form_tag update_story_sets_rank_story_sets_path, :id=> "reorder_form" do %>
	<%= hidden_field_tag :filter, params[:category_id]%>
	<table id="stories_table" cellspacing="0">
		<tbody id="sortable">
		  <tr class="fixed_row" >
		    <td style="width:50px"><b>Rank</td>
		    <td style="width:200px"><b>Name</td>
		    <td style="width:200px"><b>Category</b></td>
		  </tr>
			
			<% @story_sets.each do |story_set| %>
			  <tr class="stories_info_row">
			    <td class="sortable_row_cells" style="width:100px"><%= story_set.rank %></td>
			    <td class="sortable_row_cells" style="width:300px"><%= story_set.name %>
			     	<%= fields_for "story_sets[]",  story_set do |f| %>
			     		<% f.hidden_field :rank %>
			     	<% end %>
			    </td>			    
			    <td class="sortable_row_cells" style="width:100px"><%= story_set.category %></td>			    
			  </tr>
			  
			<% end %>
			<tr class="fixed_row">
			  	<td colspan="2">
			  		<button onclick="window.location.assign('<%= story_sets_path(:filter => params[:category_id] )%>'); return false;">Cancel Reordering</button>
			  	</td>
			  	<td>
			  		<button onclick="update_order(); return false;">Update order</button>
			  	</td>
			 </tr>
		</tbody>
	</table>
<% end %>
