<script>
  $(function(){
  	//set client_side_validation for selection list
   $("#story_set_category_id").change(function(){
	var settings = window[$('form[data-validate]').attr('id')];
	$("#story_set_name").isValid(settings.validators);
   });
  });

  function onCategorySelect()
  {
    var selector =  $("#categorySelector")[0];
    $("#storySetId")[0].value = selector.options[ selector.selectedIndex ].value;
  }
</script>

<%= form_for([:admin, @story_set], :validate => true, :html => { :role => "form", :class=>"form"} ) do |f| %>

  <% if @story_set.errors.any? %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <b><%= pluralize(@story_set.errors.count, "error") %> prohibited this <%= session[:style].set_alias.titleize %> from being saved:</b>
      <% @story_set.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name, :class=>'control-label' %>
    <%= f.text_field :name, :class=>'form-control' %>
  </div>
  <div class="form-group" style="display:none">
    <label for="categories" class="control-label"><%= session[:style].group_alias.titleize %></label>
    <%= f.select :category_id, options_from_collection_for_select(StorySetCategory.where(:domain_id => session[:domain].id),:id,:name, @story_set.category_id), {}, {:class=>'form-control'} %>
  </div>
  <% unless @stories.blank? %>
        <div class="form-group">
                <label for="stories" class="control-label">Select Stories to clone</label>
	  	<% @stories.each do |story| %>
                <div id="stories" class="checkbox">
                    <label for="<%=story.id%>">
                      <%= check_box_tag "stories[]", story.id, true %><%= story.name %>
                    </label>
                </div>
	    <% end %>
	</div>
  <% end %>

<div class="row">
  <div class="col-md-2">
    <%= link_to 'Back', admin_story_sets_path(:page=>@page),  {:class => "btn btn-default"}   %>
  </div>
    <div class="col-md-10">
      <span class="pull-right">
        <%= f.submit :id => "save_story_set_btn", :value => "Save " + session[:style].set_alias.titleize, :class => "btn btn-primary" %>
      </span>
  </div>
</div>
<% end %>
