<script>
  $(function(){
    $("#main-table").tablesorter();
  });
  function onFilterSelect()
  {
    var selector = $("#filterSelector")[0];
    document.location.href = "/admin/story_sets?filter=" + selector.options[ selector.selectedIndex ].value;
  }
</script>
<% breadcrumb :story_set_category, @category%>
<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-9">
      <span class="pull-right">
        <%= link_to 'New ' + session[:style].set_alias.titleize, new_admin_story_set_path(:filter=>@filter), {:class => "btn btn-success"}%>
      </span>
    </div>
      <div class="col-md-2 col-md-offset-1">
        <h3><%=session[:style].set_alias.pluralize.titleize%> List</h3>
      </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <form class="form-inline" role="form">
        <div class="form-group">
          <label for="filterSelector" class="control-label">Select <%= session[:style].group_alias.titleize %></label>
          <select id="filterSelector" onChange="onFilterSelect();" class="form-control">
              <%
              selected = 'selected' if @filter.blank?
            %>
              <option <%= selected %> value="__none" >All<%= @application.blank? ? "" : " in " + @application.name %></option>
              <%
              selected = ''
              selected = 'selected' if @filter == "__unassigned"
            %>
              <option <%= selected %> value="__unassigned">-- unassigned --</option>
              <%

              @categories.each do | category |
                selected = ''
                selected = 'selected' if @filter == category.id.to_s
              %>
                <option value="<%=category.id%>" <%= selected %>><%= category.name %></option>
              <%
                end if @categories
            %>
          </select>
        </div>
        <% if @story_sets.size > 1 %>
        <div class="form-group">
            <% if(@filter != "__none" && !@category.blank?) %>
                <%= link_to 'Reorder ' + session[:style].set_alias.pluralize.titleize, admin_reorder_story_sets_rank_path(@category),  {:class => "btn btn-primary"}   %>
            <% else %>
              <button class="btn btn-primary" disabled="disabled"><%= 'Reorder ' + session[:style].set_alias.pluralize.titleize %></button>
            <% end %>
        </div>
        <% end %>
      </form>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-10  col-md-offset-1">
      <table id="main-table" class="table table-bordered table-striped tablesorter tablesorter-bootstrap" >
        <thead class="tablesorter-header">
          <tr class="tablesorter-headerRow">
            <th data-sort="int">Order</th>
            <th data-sort="string">Name</th>
            <th data-sort="int" ><%= session[:style].story_alias.pluralize.titleize %></th>
            <th data-defaultsort='disabled' class="sorter-false">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @story_sets.each do |story_set|
            countQuery = StorySet.find_by_sql ["select count( id ) as count from stories where story_set_id = ?", story_set.id ]
            count = countQuery[0].count
            label = session[:style].story_alias
            label = label.pluralize unless count == 1
          %>
            <tr>
              <td><%= story_set.rank %></td>
              <td><a href="/admin/stories?filter=<%= story_set.id %>"><%=story_set.name%></a></td>
              <td><a href="/admin/stories?filter=<%= story_set.id %>"><%= count %> <%= label %> </a></td>
              <td>
                <span><%= link_to 'Clone', clone_admin_story_set_path(story_set)%> | </span>
                <span><%= link_to 'Delete', admin_story_set_path(story_set), data:{confirm: 'Are you sure?'}, :method => :delete %> | </span>
                <span><%= link_to 'Properties', edit_admin_story_set_path(story_set) %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>