<%= render :partial => "admin/shared/reorder_rank_commons"%>
<% breadcrumb :story_set_category, @category%>
<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <h3><%=session[:style].set_alias.pluralize.titleize%> List</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_tag update_story_sets_rank_admin_story_sets_path, :id=> "reorder_form" do %>
      <%= hidden_field_tag :filter, params[:category_id]%>
      <table id="sorted_table" class="table table-bordered table-striped sorted_table">
        <thead>
          <tr>
            <th>Name</th>
            <th><%= session[:style].set_alias.titleize %></th>
            <th class="rank_cell">Rank</th>
          </tr>
        </thead>
        <tbody>
          <% @story_sets.each do |story_set| %>
            <tr>
              <td><%= story_set.name %>
                <%= fields_for "story_sets[]",  story_set do |f| %>
                  <% f.hidden_field :rank %>
                <% end %>
              </td>
              <td><%= story_set.category %></td>
              <td class="rank_cell"><%= story_set.rank %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-2">
          <%= link_to 'Back', admin_story_sets_path,  {:class => "btn btn-default"}   %>
        </div>
        <div class="col-md-2">
          <%= link_to "Update Order", "#", {class: "btn btn-primary", id:"update_order_btn"}%>
          </div>
        </div>
      <% end %>
    </div>
  </div>