<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @story_set.name %>
</p>

<p>
  <b>Domain:</b>
  <%= @story_set.domain_id %>
</p>

<p>
  <b>User:</b>
  <%= @story_set.user_id %>
</p>


<%= link_to 'Edit', edit_story_set_path(@story_set) %> |
<%= link_to 'Back', story_sets_path %>
