<% breadcrumb :story_set, @story_set%>
<div class="col-md-10 col-md-offset-1">
  <p id="notice"><%= notice %></p>

  <div class="form-group">
    <label class="control-label" for="story_set_name">Name</label>
    <p id="story_set_name" class="form-control-static"><%= @story_set.name %></p>
  </div>
  <div class="form-group">
    <label class="control-label" for="story_set_domain">Domain</label>
    <p id="story_set_domain" class="form-control-static"><%= @story_set.domain_id%></p>
  </div>
  <div class="form-group">
    <label class="control-label" for="story_set_user">User</label>
    <p id="story_set_user" class="form-control-static"><%= @story_set.user_id%></p>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= link_to 'Back', admin_story_sets_path,  {:class => "btn btn-default"}   %>
    </div>
    <div class="col-md-2">
      <%= link_to 'Edit', edit_admin_story_set_path(@story_set), {:class => "btn btn-primary"}  %>
    </div>
  </div>
</div>

