<div class="tab-pane" id="step_2">
  <div class="jumbotron">
    <div class="container">
      <%= form_for([:relext,@story], :validate => true, :html => { :method => :put, class: 'edit_story'}, :remote => true) do |f| %>
      <div class="row">
      <div class="col-md-12">
      <!--   END WAND END WAND END WAND  -->
      <%= f.hidden_field :id, id: 'story_id' %>
      <h3 id="category_name"><%= @story.category %></h3>
      <label id="name" for="description" class="control-label"><%= @story.name %></label>
      <!--<label for="description" class="control-label">Please enter some text</label>-->
      <%#*<div class="form-group">%>   
        <%#= f.label :public, :class=>'control-label' %>
        <%#= f.check_box :public%> 
      <%#*</div>%>
      <div class="row">
        <!--   WAND WAND WAND WAND WAND  -->
        <div id="main_container" class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">Editor</h4>
            </div>
            <div class="panel-body">
              <%= f.text_area :descriptor, class: 'form-control', rows: 5 %>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      <div class="row">        
        <div class="col-md-2">          
            <button id="btn_back_to_step_1" type="button" class="btn btn-default">Back to Name It</button>                  
        </div>
        <div class="col-md-6 col-md-offset-3">
            <span class="pull-right">
              <h5>Click Save and restart the app on your device to see what you created!</h5>  
            </span>          
        </div>
        <div class="col-md-1 ">
          <span class="pull-right">
            <%= f.submit :id => "save_story_btn", :value => "Save ", :class => "btn btn-primary" %>
          </span>
        </div>

      </div>
      <% end %>
    </div>
  </div>
</div>