<%= form_for([:apologywiz, @user], html: { role: "form", class: "form"}, validate: true) do |f| %>
    <div class="form-group">
      <%= f.label :name, :class=>'control-label' %>
      <%= f.text_field :name, :class=>'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :lastname, :class=>'control-label' %>
      <%= f.text_field :lastname, :class=>'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email, :class=>'control-label' %>
      <%= f.text_field :email, :class=>'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password, :class=>'control-label' %>
      <%= f.password_field :password, :class=>'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, :class=>'control-label' %>
      <%= f.password_field :password_confirmation, :class=>'form-control' %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= link_to "Already Registered?", apologywiz_login_path,  {:class => "btn btn-default"}   %>
      </div>
      <div class="col-md-6">
        <%= f.submit :id => "save_user_btn", :value => "Submit", :class => "btn btn-primary" %>
      </div>
    </div>

  <% end %>