<%= form_for([:admin, @domain], :html => { :role => "form", :class=>"form"} ) do |f| %>
  <% if @domain.errors.any? %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <b><%= pluralize(@domain.errors.count, "error") %> prohibited this Domain from being saved:</b>
        <% @domain.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
    </div>
  <% end %>
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :nickname, :class=>'control-label' %>
      <%= f.text_field :nickname, :class=>'form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :name_first, :class=>'control-label' %>
      <%= f.text_field :name_first, :class=>'form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :name_last, :class=>'control-label' %>
      <%= f.text_field :name_last, :class=>'form-control' %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :email, :class=>'control-label' %>
      <%= f.text_field :email, :class=>'form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :password, :class=>'control-label' %>
      <%= f.password_field :password, :class=>'form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :password_confirmation, :class=>'control-label' %>
      <%= f.password_field :password_confirmation, :class=>'form-control' %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="checkbox">
      <%= f.label :enabled%>
      <%= f.check_box :enabled%>
    </div>

    <div class="checkbox">
      <%= f.label :priveleged%>
      <%= f.check_box :priveleged%>
    </div>

    <div class="checkbox">
      <%= f.label :self_created%>
      <%= f.check_box :self_created%>
    </div>
  </div>
  <%= f.hidden_field :owner_domain_id %>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2">
        <%= link_to 'Back', admin_domains_path,  {:class => "btn btn-default"}   %>
      </div>
      <div class="col-md-10">
        <span class="pull-right">
          <%= f.submit :id => "save_domain_btn", :value => "Save", :class => "btn btn-primary" %>
        </span>
      </div>
    </div>
    </div>
<% end %>
