<%= form_for([:admin, @domain], :html => { :role => "form", :class=>"form"} ) do |f| %>
  <% if @domain.errors.any? %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <b><%= pluralize(@domain.errors.count, "error") %> prohibited this Domain from being saved:</b>
        <% @domain.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
    </div>
  <% end %>
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :name, :class=>'control-label' %>
      <%= f.text_field :name, :class=>'form-control' %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :email, :class=>'control-label' %>
      <%= f.text_field :email, :class=>'form-control' %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="checkbox">   
      <%= f.label :enabled, :class => "checkbox" do %>
        <%= f.check_box :enabled%> Enabled
      <% end %>
    </div>
    <div class="checkbox">   
      <%= f.label :privileged, :class => "checkbox" do %>
        <%= f.check_box :privileged%> Privileged
      <% end %>
    </div>
    <div class="checkbox">   
      <%= f.label :self_created, :class => "checkbox" do %>
        <%= f.check_box :self_created%> Self Created
      <% end %>
    </div> 
  </div>
  <%= f.hidden_field :owner_domain_id %>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2">
        <%= link_to 'Back', admin_domains_path,  {:class => "btn btn-default"}   %>
      </div>
      <div class="col-md-10">
        <span class="pull-right">
          <%= f.submit :id => "save_domain_btn", :value => "Save", :class => "btn btn-primary" %>
        </span>
      </div>
    </div>
    </div>
<% end %>
