<%= form_for([:admin, @domain], :html => { :role => "form", :class=>"form"} ) do |f| %>
  <% if @domain.errors.any? %>
    <div id="error_explanation" class="row">
      <h3><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h3>
      <ul>
        <% @domain.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :nickname, :class=>'control-label' %>
      <%= f.text_field :nickname, :class=>'form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :name_first, :class=>'control-label' %>
      <%= f.text_field :name_first, :class=>'form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :name_last, :class=>'control-label' %>
      <%= f.text_field :name_last, :class=>'form-control' %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :email, :class=>'control-label' %>
      <%= f.text_field :email, :class=>'form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :password, :class=>'control-label' %>
      <%= f.password_field :password, :class=>'form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :password_confirmation, :class=>'control-label' %>
      <%= f.password_field :password_confirmation, :class=>'form-control' %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="checkbox">
      <%= f.label :enabled%>
      <%= f.check_box :enabled%>
    </div>

    <div class="checkbox">
      <%= f.label :priveleged%>
      <%= f.check_box :priveleged%>
    </div>

    <div class="checkbox">
      <%= f.label :self_created%>
      <%= f.check_box :self_created%>
    </div>
  </div>
  <%= f.hidden_field :owner_domain_id %>
  <div class="row">
    <div class="col-md-2">
      <%= link_to 'Back', admin_domains_path,  {:class => "btn btn-default"}   %>
    </div>
    <div class="col-md-2">
      <%= f.submit :id => "save_domain_btn", :value => "Save", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
