<script>
  $(function () {
    $('.footable').footable();
  });
</script>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <h2>Domains List</h2>
    </div>
  </div>
  <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <%= link_to 'New Domain', new_admin_domain_path, {:class => "btn btn-primary"}%>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-10  col-md-offset-1">
      <table class="footable" data-filter="#filter" data-page-size="3">  
        <thead>
          <tr>
            <th data-type="alpha" data-sort-initial="true" class="footable-first-column footable-sortable">Name<span class="footable-sort-indicator"></span></th>
            <th data-sort-ignore='true'>Enabled</th>
            <th data-sort-ignore='true'>Privileged</th>
            <th data-sort-ignore='true'>Self-Created</th>
            <th data-sort-ignore='true'>Actions</th>
          </tr>
        </thead>
        <%if @domains.length > 0
          @domains.each do |domain|
            domainStyle = DomainStyle.find_by_domain_id domain.id
          %>
            <tbody
              <tr>
                <td><%= domain.nickname %></td>
                <td><%= domain.enabled %></td>
                <td><%= domain.priveleged %></td>
                <td><%= domain.self_created %></td>
                <td>
                  <span><%= link_to 'Edit', edit_admin_domain_path(domain) %> | </span>
                  <span><%= link_to 'Style', "/admin/domain_styles/" + domainStyle.id.to_s + "/edit" %> | </span>
                  <span><%= link_to 'Delete', admin_domain_path(domain), data: {confirm: 'Are you sure?', :method => :delete} %></span>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5" style="text-align: center"><div class="pagination pagination-centered"></div></td>
              </tr>
            </tfoot>
          <% end
          end %>
        </table>
      </div>
  </div>
</div>