<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @domain.name %>
</p>

<p>
  <b>email:</b>
  <%= @domain.email %>
</p>

<p>
  <b>enabled:</b>
  <%= @domain.enabled %>
</p>

<p>
  <b>privileged:</b>
  <%= @domain.privileged %>
</p>

<p>
  <b>self_created:</b>
  <%= @domain.self_created %>
</p>



<%= link_to 'Edit', edit_admin_domain_path(@domain) %> |
<%= link_to 'Back', admin_domains_path %>
