<script>
  $( function() {
    $("#new_button").button().click( function(){
       document.location.href='/bright_text_applications/new';
    });
  });
</script>

<div style="height=60px; width:100px">&nbsp;</div>
<button id="new_button" style="float:left">New <%= session[:style].app_alias.titleize %></button>

<div style="height:110px; width:100px">&nbsp;</div>

<table>
  <tr>
    <td width="70"><b>ID</b></td>
    <td width="300"><b>Name</b></td>
    <td width="150"></td>
    <td width="200"><b><%= session[:style].group_alias.pluralize.titleize %></b></td>
  </tr>

<% @bt_applications.each do |bt_application| 
  countQuery = StorySet.find_by_sql ["select count( id ) as count from story_set_categories where application_id = ?", bt_application.id ]
  count = countQuery[0].count
  label = session[:style].group_alias
  label = label.pluralize unless count == 1

%>
  <tr class="info_row">
    <td><%= bt_application.id %></td>
    <td><%= link_to bt_application.name, '/bright_text_applications/' + bt_application.id.to_s + '/edit' %></td>
    <td><%= link_to 'Destroy', bt_application, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><a href="/story_set_categories?filter=<%= bt_application.id %>"><%= count %> <%= label %> </a></td>
    
    
    
    
  </tr>
<% end %>
</table>