<%= form_for([:scriptwords, @user], html: { role: "form", class: "form"}, validate: true) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <b><%= pluralize(@user.errors.count, "error") %> prohibited this User from being saved:</b>
        <% @user.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
    </div>
  <% end %>
    <div class="form-group">
      <%= f.label :name, :class=>'control-label' %>
      <%= f.text_field :name, :class=>'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :lastname, :class=>'control-label' %>
      <%= f.text_field :lastname, :class=>'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email, :class=>'control-label' %>
      <%= f.text_field :email, :class=>'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password, :class=>'control-label' %>
      <%= f.password_field :password, :class=>'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, :class=>'control-label' %>
      <%= f.password_field :password_confirmation, :class=>'form-control' %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= link_to "Already Registered?", scriptwords_login_path,  {:class => "btn btn-default"}   %>
      </div>
      <div class="col-md-6">
        <span class="pull-right">
          <%= f.submit :id => "save_user_btn", :value => "Submit", :class => "btn btn-primary" %>
        </span>
        
      </div>
    </div>

  <% end %>