<div class="col-md-4 col-md-offset-4">
  <h3>Reset Password</h3>

  <%= form_tag apologywiz_password_resets_path, html: { role: "form", class: "form"}, method: :post do %>
        <div class="form-group">
        <%= label_tag :email, params[:email], class: 'control-label' %>
        <%= text_field_tag :email, params[:email], class: 'form-control' %>
      </div>

    <div class="row">
  <div class="col-md-2">
    <%= link_to 'Back', new_apologywiz_user_path,  {:class => "btn btn-default"}   %>
  </div>
  <div class="col-md-2">
    <%= submit_tag "Reset Password", class: "btn btn-primary" %>
  </div>
</div>
  <% end %>

</div>