<style type="text/css" media="screen">

  body {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    padding-top: 70px;
    font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
    font-size: 13px;
    color: #333;
    overflow:hidden;
  }


textarea.dataport{
  width:764px;
  height:392px;
  resize:none;
}

DIV.harnesscontainer{
  width:834px;
  height:34px;
  margin:5px;
  padding:5px;
  float:left;
  border: 1px dotted black
}

DIV.viewportcontainer{
  width:480px;
  height:140px;
  margin:5px;
  padding:5px;
  float:left;
}

DIV.btEditor{
  height:150px;
  padding:10px;
}

</style>


<script>
  function onSetSelect()
  {
    var selector = $("#setSelector")[0];
    $("#storySetId")[0].value = selector.options[ selector.selectedIndex ].value;
  }

  function saveStory() {
    var form, type;
    if ($(".new_story")[0] === undefined) {
      form = $(".edit_story")[0];
      type = "PUT";
    }
    else {
      form = $(".new_story")[0];
      type = "POST";
    }
    $.ajax({
      type: $(form).attr("method"),
      url: $(form).attr("action"),
      data: $(form).serialize(),
      dataType: "json",
      success: function(data) {
        settings = window[$('form[data-validate]').attr('id')];
        element = $("#story_name");
        //clientSideValidations.formBuilders[settings.type].remove(element, settings);
        if (data["success"] === "true") {
          console.log(data);
          show_response_dialog("Story saved successfully", "Success!");
          if (data["story_id"] !== null) { // If the story was just created
            // Change form class to "edit_story"
            $(form).removeClass('new_story');
            $(form).addClass('edit_story');
            $(form).attr('action', "/admin/stories/" + data["story_id"]);
            $(form).attr('method', 'PUT');
          }
        }
        else if (data["name"]) {
          message = data["name"];
          //clientSideValidations.formBuilders[settings.type].add(element, settings, message);
        }

        else
          show_response_dialog("Something went wrong! Please try again later.", "Failed!");
      }
    });
  }

  function show_response_dialog(dialog_text, dialog_title) {
    $("#dialog p").html(dialog_text);
    $("#dialog").attr("title", dialog_title);
    $("#dialog").dialog({
      autoOpen: true,
      resizable: false,
      show: {effect: "fadeOut", duration: 500},
      hide: {effect: "fadeOut", duration: 500},
      dialogClass: 'no-close'
    });
    //$( "#dialog" ).dialog( "open" );
    setTimeout(function() {
      $("#dialog").dialog("close");
    }, 2500);
  }

  $(function() {
    $("#save_story_btn").click(function(e) {
      saveStory();
    });
  });
</script>


<!-- BrightText WAND script -->
<script>
  var _bt1;
  var _s1;

  function updateToneSlider1(gradients, value)
  {
    var toneIndex = 0;
    for (var i = 0; i < gradients.length; i++) {
      if (gradients[i].id === value) {
        toneIndex = i;
        break;
      }
    }
    $("#tone-control1").hide( );
    $("#slider1").slider({
      value: toneIndex,
      min: 0,
      max: gradients.length - 1,
      //range: false,
      step: 0.001,
      slide: function(event, ui) {
        var toneGradients = gradients;
        var s1 = Math.round(ui.value);
        if (_s1 !== s1) { // allow smooth moving of the tone selector
          _s1 = s1;
          $("#gradient1").html(gradients[ s1 ].name);
          _bt1.handleToneSelection(gradients[ s1 ].id);
        }
      }
    });
    if (gradients.length > 1) {
      $("#gradient1").html(gradients[ toneIndex ].name);
      $("#tone-control1").show();
    }
  }

  $(document).ready(function() {

    _bt1 = new BrightTextEditor("bt_one", true);
    var rawData = $("#fieldDescriptor");
    var textData = $("#fieldSummary");

    _bt1.onChange(function() {
      rawData[0].value = $.toJSON(_bt1.toData());
      textData[0].value = _bt1.toString();
      updateToneSlider1(_bt1.toneGradients(), _bt1.selectedTone());
    });

    $("#instant_rewrite1").button();
    $("#instant_rewrite1").bind("click", function() {
      _bt1.rewrite();
    });

    $("#tone-control1").hide( );
    $("#fetchStory").button();
    $("#saveStory").button();
    $("#edit_choicesets").button().click(_bt1.editChoicesets);

    //set client_side_validation for selection list
    $("#story_story_set_id").change(function() {
      var settings = window[$('form[data-validate]').attr('id')];
      $("#story_name").isValid(settings.validators);
    });

<%if @story.descriptor != nil &&  !@story.descriptor.empty?%>
      _bt1.renderData(<%=raw @story.descriptor %>);
<%end%>
  });
</script>

  <%= form_for([:admin, @story], :validate => true, :html => { :role => "form", :class=>"form"} ) do |f| %>
  <div class="form-group">
  <%= f.label :name, :class=>'control-label' %>
  <%= f.text_field :name, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <label for="strories" class="control-label"><%= session[:style].set_alias.titleize %>:</label>
  <%= f.select :story_set_id, options_from_collection_for_select(StorySet.where(:domain_id => session[:domain].id ), :id, :name, @story.story_set_id), {},{:class => "form-control"}%>
  </div>


  <div class="row">
    <!--   WAND WAND WAND WAND WAND  -->
    <div id="main_container" class="col-md-12" style="height:290px">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Editor</h3>
        </div>
        <div class="panel-body">
          <div id="controls1" style="height:50px">
            <div class="col-md-3">
              <span class="pull-left">
                <button id="edit_choicesets" class="btn btn-primary">Choicesets</button>
              </span>
            </div>
            <div class="col-md-6">
              <div id="tone-control1">
                <div id="gradient1" style="float:right; padding: 0px 0px 0px 0px; font-weight:bold;"></div>
                <div style="padding:0px 0px 5px 0px;">Tone: </div>
                <div id="slider1" style="width:100%;"></div>
              </div>
            </div>
            <div class="col-md-3">
              <span class="pull-right">
                <button id="instant_rewrite1" class="btn btn-primary">Instant Rewrite</button>
              </span>
            </div>

          </div>

          <div id="bt_one" class="form-control btEditor">BT Wand</div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
        <%= link_to 'Back', admin_stories_path(:filter=>session[:filter]),  {:class => "btn btn-default"}   %>
    </div>
    <div class="col-md-2">
        <%= f.submit :id => "save_story_btn", :value => "Save " + session[:style].story_alias.titleize, :class => "btn btn-primary" %>
    </div>
  </div>

  <%= f.hidden_field :description, :id => "fieldSummary" %>
  <%= f.hidden_field :descriptor,  :id => "fieldDescriptor" %>
<% end %>

<div id="dialog" title="Basic dialog" display="none" >
  <p></p>
</div>