<script>
  $(function(){
    $("#main-table").tablesorter();
  });

  function onFilterSetSelect()
  {
    var selector = $("#setSelector")[0];
    document.location.href = "/admin/stories?filter=" + selector.options[ selector.selectedIndex ].value;
  }

</script>

<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-9">
      <span class="pull-right">
        <%= link_to 'New ' + session[:style].story_alias.titleize, new_admin_story_path(:filter=>@filter), {:class => "btn btn-success"}%>
      </span>
    </div>
      <div class="col-md-2 col-md-offset-1">
        <h3><%=session[:style].story_alias.pluralize.titleize%> List</h3>
      </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= form_tag(admin_stories_path, :method => :get, :role => "form", :class=>"form-inline") do %>
        <div class="form-group">
          <label for="setSelector" class="control-label">Select <%= session[:style].set_alias.titleize %></label>
          <select id="setSelector" onChange="onFilterSetSelect()" class="form-control">
            <%
            storySetFilter = @filter
            selected = 'selected' if storySetFilter.blank?
            %>
            <option <%= selected %> value="__none" >All<%= @category.blank? ? "" : " in "+ @category.name %></option>
            <%
            selected = ''
            selected = 'selected' if storySetFilter == "__unassigned"
            %>
            <option <%= selected %> value="__unassigned">-- unassigned --</option>
            <%
            unless @story_sets.blank?
              @story_sets.each do | set |
                selected = ''
                selected = 'selected' if storySetFilter == set.id.to_s
            %>
            <option value="<%=set.id%>" <%= selected %>><%= set.name %></option>
            <%end%>
          <%end%>
          </select>
        </div>
        <div class="form-group">
          <%
          parentObj = StorySet.find_by_id( @filter )
          parentId = "__undefined"
          parentId = parentObj.category_id.to_s unless parentObj == nil
        %>
          <% if(@filter != "__none" && !@story_set.blank?) %>
            <%= link_to 'Reorder '+ session[:style].story_alias.pluralize.titleize, admin_reorder_stories_rank_path(@story_set),  {:class => "btn btn-primary"}   %>
          <% else %>
            <button class="btn btn-primary" disabled="disabled">Reorder Categories</button>
          <% end %>
        </div>
      <span class="pull-right">
        <div class="form-group">
          <input type="hidden" id="filter" name="filter" value="<%=@filter%>"/>
          <%= text_field_tag :q, params[:q], :class=>"form-control", :placeholder=>"Enter search text here" %>
        </div>
        <div class="form-group">
          <%= submit_tag 'Search', :class => "btn btn-primary" %>
        </div>
        </span>
      <% end %>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-10  col-md-offset-1">
      <table id="main-table" class="table table-bordered table-striped tablesorter tablesorter-bootstrap" >
        <thead class="tablesorter-header">
          <tr class="tablesorter-headerRow">
            <th data-sort="int">Order</th>
            <th data-sort="string">Name</th>
            <th data-sort="string">Summary</th>
            <th data-defaultsort='disabled' class="sorter-false">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @stories.each do |story| %>
            <tr>
              <td><%= story.rank %></td>
              <td><%= link_to (story.name).blank? ? "" : highlight(story.name, @highlighted_phreses, :highlighter => '<b>\1</b>'), edit_admin_story_path(story) %></td>
              <td><%= link_to story.description.blank? ? "" : highlight(truncate(story.description, :length => 120), @highlighted_phreses, :highlighter=>'<b>\1</b>'), edit_admin_story_path(story) %></td>
              <td>
                <span><%= link_to 'Clone', clone_admin_story_path(story)%></span>
                <span><%= link_to 'Delete', admin_story_path(story), data:{confirm: 'Are you sure?'}, :method => :delete %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>

