<script>
  $(function () {
    $('.footable').footable().bind({		
      'footable_paging' : function(e) {
        $('a#edit_story').each(function(){           
          var parts = this.href.split("=");
          this.href = parts[0] + "=" + e.page;
        });        
        $('a#publish_story').each(function(){           
          var parts = this.href.split("=");
          this.href = parts[0] + "=" + e.page + "&public=" + parts[2];
        });
        $('a#clone_story').each(function(){           
          var parts = this.href.split("=");
          this.href = parts[0] + "=" + e.page;
        });
        $('a#delete_story').each(function(){           
          var parts = this.href.split("=");
          this.href = parts[0] + "=" + e.page;
        });
      }
    });
    
    $('.footable tbody').show();
    <%
    if @page.present?
      i = 0
      num = @page.to_i / 5
      while i < num  do
        i+=1
      %>
      $('.footable-page-arrow a').filter('[data-page="limit-next"]').trigger('click');
      <%end%>
    <%end%>
    $('.footable-page a').filter('[data-page="<%=@page%>"]').trigger('click');
    
    $("#btn-import").on('click',function(){      
      BootstrapDialog.show({
        type: BootstrapDialog.TYPE_DEFAULT,
        title: 'Upload Stories XML',
        message: $('<div></div>').load('/admin/import'),
        buttons: [
          {
            label: 'Close',
            action: function(dialogItself){
                dialogItself.close();
            }
          }]
      });
      
    });
  });

  function onFilterSetSelect(){
    var selector = $("#setSelector")[0];
    document.location.href = "/admin/stories?filter=" + selector.options[ selector.selectedIndex ].value;
  }

</script>
<% breadcrumb :story_set, @story_set%>
<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
        <h3><%=session[:style].story_alias.pluralize.titleize%> List</h3>
    </div>
    <div class="col-md-2 col-md-offset-5">
      <span class="pull-right">
        <button id="btn-import" type="button" class="btn btn-success">Import Stories</button> 
      </span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">
        <%= link_to 'New ' + session[:style].story_alias.titleize, new_admin_story_path(:filter=>@filter), {:class => "btn btn-success"}%>
      </span>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= form_tag(admin_stories_path, :method => :get, :role => "form", :class=>"form-inline") do %>
        <div class="form-group">
          <label for="setSelector" class="control-label">Select <%= session[:style].set_alias.titleize %></label>
          <select id="setSelector" onChange="onFilterSetSelect();" class="form-control">
            <%
            storySetFilter = @filter
            selected = 'selected' if storySetFilter.blank?
            %>
            <option <%= selected %> value="__none" >All<%= @category.blank? ? "" : " in "+ @category.name %></option>
            <%
            selected = ''
            selected = 'selected' if storySetFilter == "__unassigned"
            %>
            <option <%= selected %> value="__unassigned">-- unassigned --</option>
            <%
            unless @story_sets.blank?
              @story_sets.each do | set |
                selected = ''
                selected = 'selected' if storySetFilter == set.id.to_s
            %>
            <option value="<%=set.id%>" <%= selected %>><%= set.name %></option>
            <%end%>
          <%end%>
          </select>
        </div>
        <% if @stories.size > 1 %>
        <div class="form-group">
          <% if(@filter != "__none" && !@story_set.blank?) %>
            <%= link_to 'Reorder '+ session[:style].story_alias.pluralize.titleize, admin_reorder_stories_rank_path(@story_set),  {:class => "btn btn-primary"}   %>
          <% else %>
            <button class="btn btn-primary" disabled="disabled"><%= 'Reorder '+ session[:style].story_alias.pluralize.titleize%></button>
          <% end %>
        </div> 
        <% end %>
      <span class="pull-right">
        <div class="form-group">
          <input type="hidden" id="filter" name="filter" value="<%=@filter%>"/>
          <%= text_field_tag :q, params[:q], :class=>"form-control", :placeholder=>"Enter search text here" %>
        </div>
        <div class="form-group">
          <%= submit_tag 'Search', :class => "btn btn-primary" %>
        </div>
        </span>
      <% end %>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-10  col-md-offset-1">
      <table class="footable" data-filter="#q" data-page-size="<%= PAGE_SIZE %> "data-limit-navigation="5" >  
        <thead>
          <tr>
            <th data-type="numeric" data-sort-initial="true" class="footable-first-column footable-sortable">Order<span class="footable-sort-indicator"></span></th>
            <th data-type="alpha" class="footable-sortable">Name<span class="footable-sort-indicator"></span></th>
            <th data-type="alpha" class="footable-sortable">Summary<span class="footable-sort-indicator"></span></th>
            <th data-type="boolean"class="footable-sortable">Public<span class="footable-sort-indicator"></span></th>
            <th data-type="alpha" class="footable-sortable">Author<span class="footable-sort-indicator"></span></th>
            <th data-sort-ignore='true'>Actions</th>
          </tr>
        </thead>
        <tbody style="display: none">
          <%
          @stories.each do |story|
            authors = nil
            story.authors.each do |author|
              if author.email.present?
                  if authors.nil?
                    authors = author.email
                  else
                    authors = authors + "," + author.email 
                  end
              end
            end
          %>
            <tr>
              <td><%= story.rank %></td>
              <td><%= link_to story.name.blank? ? "" : highlight(story.name, @highlighted_phreses, :highlighter => '<b>\1</b>'), edit_admin_story_path(story, :page=>'0'), :id=>'edit_story' %></td>
              <td><%= link_to story.description.blank? ? "" : highlight(story.description[0..29].gsub(/\s\w+\s*$/,'...'), @highlighted_phreses, :highlighter=>'<b>\1</b>'), edit_admin_story_path(story, :page=>'0'), :id=>'edit_story' %></td>
              <td><%= check_box :story, :public, {:checked => story.public?, :disabled => true}%></td>
              <td><%= authors %></td>

              <td>
                <span><%= link_to story.public? ? 'Make Private' : 'Make Public', publish_admin_story_path(story, :public=> story.public? ? 'false' : 'true', :page=>'0'), :id=>'publish_story'%> | </span>
                <span><%= link_to 'Clone', clone_admin_story_path(story, :page=>'0'), :id=>'clone_story'%> | </span>
                <span><%= link_to 'Delete', admin_story_path(story, :page=>'0'), data:{confirm: 'Sure?'}, :method => :delete, :id=>'clone_story' %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6" style="text-align: center"><div class="pagination pagination-centered"></div></td>
          </tr>
	</tfoot>
      </table>
    </div>
  </div>
</div>