<%= render :partial => "admin/shared/reorder_rank_commons"%>
<% breadcrumb :story_set, @story_set%>
<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <h3><%=session[:style].story_alias.pluralize.titleize%> List</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_tag update_stories_rank_admin_stories_path, :id=> "reorder_form" do %>
      <%= hidden_field_tag :filter, params[:story_set_id]%>
      <table id="sorted_table" class="table table-bordered table-striped sorted_table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Summary</th>
            <th><%= session[:style].set_alias.titleize %></th>
            <th class="rank_cell">Rank</th>
          </tr>
        </thead>
        <tbody id="sortable">
          <% @stories.each do |story| %>
            <tr>
              <td><%= story.name %></td>
              <td>
                <%= truncate(story.description, :length => 120) %>
                <%= fields_for "stories[]",  story do |f| %>
                  <% f.hidden_field :rank %>
                <% end %>
              </td>
              <td><%= story.set %></td>
              <td><%= story.rank %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-2">
          <%= link_to 'Back', admin_stories_path(:filter => params[:story_set_id]),  {:class => "btn btn-default"}   %>
        </div>
        <div class="col-md-2">
          <%= link_to "Update Order", "#", {class: "btn btn-primary", id:"update_order_btn"}%>
          </div>
        </div>
      <% end %>
    </div>
  </div>