<script>
  $(function(){
   $("#save_application_btn").button(); 
   $("#back_btn").button().click( function(e){
    e.preventDefault();
    document.location.href='/admin/bright_text_applications'; 
    return false;     
   });; 
  });
</script>

<%= form_for([:admin, @bt_application]) do |f| %>
  <% if @bt_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bt_application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @bt_application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-field">
    <div class="form-field-label"><%= f.label :name %>:</div>
    <div class="form-field-value"><%= f.text_field :name %></div>
  </div>
  <% unless @categories.blank? %>
	<div class="field form-field" style="height: auto;">
		<div class="form-field-label" style="width: auto; float: none;">Select Categories to clone:</div>
		<br />
	  	<% @categories.each do |category| %>
		    <div class="form-field-label"><%= check_box_tag "category_ids[]", category.id, true %></div>
		    <div class="form-field-value"><%= category.name %></div>
		    <br style="clear: both;" />
	    <% end %>
	</div>
  <% end %> 
  <div class="actions" style="padding-top:100px">
    <button style="height:28px; margin-right:480px" id="back_btn">Back</button><%= f.submit :id => "save_application_btn", :value => "Save" %>
  </div>
<% end %>
