<%= form_for([:admin, @bt_application], :html => { :role => "form", :class=>"form"} ) do |f| %>

  <% if @bt_application.errors.any? %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <b><%= pluralize(@bt_application.errors.count, "error") %> prohibited this <%= session[:style].app_alias.titleize %> from being saved:</b>
        <% @bt_application.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
    </div>
  <% end %>
  <div class="form-group">
      <%= f.label :name, :class=>'control-label' %>
      <%= f.text_field :name, :class=>'form-control' %>
  </div>
  <% unless @categories.blank? %>
  <div class="form-group">
          <label for="categories" class="control-label">Select Categories to clone</label >

          <% @categories.each do |category| %>
          <div id="categories" class="checkbox">
              <label for="<%=category.id%>">
                <%= check_box_tag category.id, category.id, true %><%=category.name%>
              </label>
          </div>
      <% end %>
  </div>
  <% end %>
<div class="row">
  <div class="col-md-2">
    <%= link_to 'Back', admin_bright_text_applications_path,  {:class => "btn btn-default"}   %>
  </div>
  <div class="col-md-2">
    <%= f.submit :id => "save_application_btn", :value => "Save", :class => "btn btn-primary" %>
  </div>
</div>
<% end %>