<script>
  $(function(){
    $("#main-table").tablesorter();
  });
</script>

<div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-9">
        <span class="pull-right">
          <%= link_to 'New ' + session[:style].app_alias.titleize, new_admin_bright_text_application_path, {:class => "btn btn-success"}%>
          </span>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <h3><%=session[:style].app_alias.pluralize.titleize%> List</h3>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-10  col-md-offset-1">
          <table id="main-table" class="table table-bordered table-striped tablesorter tablesorter-bootstrap" >
                <thead class="tablesorter-header">
                  <tr class="tablesorter-headerRow">
                    <th data-sort="int" >ID</th>
                    <th data-sort="string" >Name</th>
                    <th data-sort="int" ><%= session[:style].group_alias.pluralize.titleize %></th>
                    <th data-defaultsort='disabled' class="sorter-false">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% @bt_applications.each do |bt_application|
                    countQuery = StorySet.find_by_sql ["select count( id ) as count from story_set_categories where application_id = ?", bt_application.id ]
                    count = countQuery[0].count
                    label = session[:style].group_alias
                    label = label.pluralize unless count == 1

                  %>
                    <tr>
                      <td><%= bt_application.id %></td>
                      <td><a href="/admin/story_set_categories?filter=<%= bt_application.id %>"><%=bt_application.name%></a></td>
                      <td><a href="/admin/story_set_categories?filter=<%= bt_application.id %>"><%= count %> <%= label %> </a></td>
                      <td>
                        <span><%= link_to "Clone", clone_admin_bright_text_application_path(bt_application)%></span>
                        <span><%= link_to 'Delete', admin_bright_text_application_path(bt_application), data: {:confirm => 'Are you sure?'}, :method => :delete %></span>
                        <span><%= link_to 'Properties', '/admin/bright_text_applications/' + bt_application.id.to_s + '/edit' %></span>
                      </td>

                    </tr>
                  <% end %>
                </tbody>
          </table>
        </div>
    </div>
  </div>