<%= form_for(@user, url: {action: action }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if action == :create %>
    <div class="field">
      <%= f.label :name, "First name" %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :lastname, "Last name" %><br />
      <%= f.text_field :lastname %>
    </div>
  <% end %>
  <div class="field">
  	<%= f.label :email %><br />
  	<%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <% if action == :create %>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %><br />
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "#{action == :create ? 'Register' : 'Log in'}" %>
  </div>
<% end %>
