<h2>Login</h2>


<%= form_for @user, validate: true do |f| %>

  <ul class="login-form">
    <li>
      <%= f.label :email %>
      <%= f.text_field :email, class: 'txt' %>
    </li>
    <li>
      <%= f.label :password, style: 'margin:12px 0 2px;' %>
      <%= f.password_field :password , class: 'txt' %>
    </li>

    <li>
      <span>Forgot Password?</span>
      <%= f.submit "Log in", class: 'btn' %>
    </li>
  </ul>

<% end %>