<script>
  function onStyleSelect()
  {
    var selector =  $("#styleSelector")[0];
    $("#styleId")[0].value = selector.options[ selector.selectedIndex ].value;
  }
</script>

<%= form_for([:admin, @domain_style], :html => { :role => "form", :class=>"form"} ) do |f| %>

  <% if @domain_style.errors.any? %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <b><%= pluralize(@domain_style.errors.count, "error") %> prohibited this Domain Style from being saved:</b>
        <% @domain_style.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <label class="control-label" for="styleSelector">Color Theme</label>
    <select id="styleSelector" class="form-control" onChange="onStyleSelect()">
    <%
      styles = ["Default", "Grey"]
      (1..2).each do | c |
        selected = ''
        selected = 'selected' if @domain_style.style_id == c
        %>
          <option <%= selected %> value="<%= c %>"><%= styles[c - 1]%></option>
        <%
       end
     %>
    </select>
    <%= f.hidden_field :style_id, :id => :styleId %>

  </div>

  <div class="form-group">
    <label class="control-label" for="<%=:app_alias%>">Application Alias</label>
    <%= f.text_field :app_alias, :class=>'form-control'  %>
  </div>

  <div class="form-group">
    <label class="control-label" for="<%=:group_alias%>">Group Alias</label>
    <%= f.text_field :group_alias, :class=>'form-control'  %>
  </div>

  <div class="form-group">
    <label class="control-label" for="<%=:set_alias%>">Set Alias</label>
    <%= f.text_field :set_alias, :class=>'form-control'  %>
  </div>

  <div class="form-group">
    <label class="control-label" for="<%=:story_alias%>">Story Alias</label>
    <%= f.text_field :story_alias, :class=>'form-control'  %>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= link_to 'Back', admin_domain_styles_path,  {:class => "btn btn-default"}   %>
    </div>
    <div class="col-md-10">
      <span class="pull-right">
        <%= f.submit :id => "save_style_btn", :value => "Save", :class => "btn btn-primary" %>
      </span>
    </div>
  </div>
<% end %>