<script>
  $(function(){
   $("#save_style_btn").button(); 
   $("#back_btn").button().click( function(e){
    e.preventDefault();
    document.location.href="/domains"; 
    return false;    
   });
  });
  
  function onStyleSelect()
  {
    var selector =  $("#styleSelector")[0];
    $("#styleId")[0].value = selector.options[ selector.selectedIndex ].value;
  }
</script>

<%= form_for([:admin, @domain_style]) do |f| %>
  <% if @domain_style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domain_style.errors.count, "error") %> prohibited this domain_style from being saved:</h2>

      <ul>
      <% @domain_style.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-field">
    <div class="form-field-label">Color Theme:</div>
    <div class="form-field-value">
      <select onChange="onStyleSelect()" id="styleSelector">
      <%
        styles = ["White", "Blue", "Brown", "Eggplant", "Grey"]
        (1..5).each do | c |
          selected = ''
          selected = 'selected' if @domain_style.style_id == c
          %>
            <option <%= selected %> value="<%= c %>"><%= styles[c - 1]%></option>
          <% 
         end
       %>    
      </select>
      <%= f.hidden_field :style_id, :id => :styleId %>
    </div>
  </div>
  <div class="field form-field">
    <div class="form-field-label">App Term:</div>
    <div class="form-field-value"><%= f.text_field :app_alias %></div>
  </div>
  <div class="field form-field">
    <div class="form-field-label">Group Term:</div>
    <div class="form-field-value"><%= f.text_field :group_alias %></div>
  </div>
  <div class="field form-field">
    <div class="form-field-label">Set Term:</div>
    <div class="form-field-value"><%= f.text_field :set_alias %></div>
  </div>
  <div class="field form-field">
    <div class="form-field-label">Story Term:</div>
    <div class="form-field-value"><%= f.text_field :story_alias %></div>
  </div>
  
  <div class="actions" style="padding-top:250px">
    <button style="height:28px; margin-right:480px" id="back_btn">Back</button><%= f.submit :id => "save_style_btn", :value => "Save" %>
  </div>  
<% end %>
