<script>
  $(function(){
    $("#main-table").tablesorter();
  });
</script>
<div class="container">
  <div class="row">
      <div class="col-md-2 col-md-offset-9">
        <span class="pull-right">
          <%= link_to 'New Domain Style', new_admin_domain_style_path, {:class => "btn btn-success"}%>
        </span>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <h3>Domain Styles List</h3>
      </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-10  col-md-offset-1">
      <table id="main-table" class="table table-bordered table-striped tablesorter tablesorter-bootstrap" >
        <thead class="tablesorter-header">
          <tr class="tablesorter-headerRow">
            <th data-sort="string">Domain</th>
            <th data-sort="string">Style</th>
            <th data-sort="string">App button</th>
            <th data-sort="string">Groups button</th>
            <th data-sort="string">Sets button</th>
            <th data-sort="string">Stories button</th>
            <th data-defaultsort='disabled' class="sorter-false">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% DomainStyle.all.each do |domain_style| %>
            <tr>
              <td><%= domain_style.domain_id %></td>
              <td><%= domain_style.style_id %></td>
              <td><%= domain_style.app_alias %></td>
              <td><%= domain_style.group_alias %></td>
              <td><%= domain_style.set_alias %></td>
              <td><%= domain_style.story_alias %></td>
              <td>
                <span><%= link_to 'Show', admin_domain_style_path(:id=>domain_style.id) %> | </span>
                <span><%= link_to 'Edit', edit_admin_domain_style_path(domain_style) %> | </span>
                <span><%= link_to 'Destroy', admin_domain_style_path(domain_style), data: {confirm: 'Are you sure?', :method => :delete} %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>