<h1>Reset password</h1>

<%= form_tag admin_password_resets_path, method: :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="actions">
    <%= submit_tag "Reset Password" %>
  </div>
<% end %>

<%= link_to "Back", new_admin_user_path %>