<h2>ContextIT Accounts</h2>

<div style="height:10px">&nbsp;</div>

<div style="height:200px; padding:30px">
<%

  if @domains.length > 0
 
%>
<table>
  <tr>
    <td style="width:300px; height:50px"><b>Name</td>
    <td style="width:300px"><b>Enabled</td>
    <td style="width:300px"><b>Privileged</td>
    <td style="width:300px"><b>Self-Created</td>    
    <td style="width:100px"></td>
    <td style="width:100px"></td>
  </tr>
<% @domains.each do |domain|
     domainStyle = DomainStyle.find_by_domain_id domain.id
%>
  <tr>
    <td style="width:300px"><%= domain.nickname %></td>
    <td style="width:300px"><%= domain.enabled %></td>
    <td style="width:300px"><%= domain.priveleged %></td>
    <td style="width:300px"><%= domain.self_created %></td>    
    <td style="width:100px"><%= link_to 'Edit', edit_domain_path(domain) %></td>
    <td style="width:100px"><%= link_to 'Style', "/domain_styles/" + domainStyle.id.to_s + "/edit" %></td>
    <td style="width:100px"><%= link_to 'Delete', domain, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%
  else
%>
  
<%

  end
  
%>


</div>

<div style="height:100px">&nbsp;</div>
<%= link_to 'Create New Account', new_domain_path %>
