<script>
  $(function(){
  	
   $("#save_survey_btn").button(); 
   $("#back_btn").button().click( function(e){
    e.preventDefault();
    document.location.href = '/story_set_categories?filter=<%= @story_set_category.application_id.to_s %>'
    return false;    
   }); 
   //set client_side_validation for selection list
   $("#story_set_category_application_id").change(function(){
  		var settings = window[$('form[data-validate]').attr('id')];
		$("#story_set_category_name").isValid(settings.validators);			
   });
  });
  

</script>

<%= form_for(@story_set_category, :validate => true) do |f| %>
  <% if @story_set_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story_set_category.errors.count, "error") %> prohibited this story_set_category from being saved:</h2>

      <ul>
      <% @story_set_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-field">
    <div class="form-field-label"><%= f.label :name %>:</div>
    <div class="form-field-value"><%= f.text_field :name %></div>
  </div>
  <div class="field form-field">
    <div class="form-field-label"><%= f.label :description %>:</div>
    <div class="form-field-value"><%= f.text_field :description %></div>
  </div>
  <div class="field form-field" >
    <div class="form-field-label"><%= session[:style].app_alias.titleize %>:</div>
    <div class="form-field-value">
    	<%= f.select :application_id, 
    	"<option>-- unassigned --</option>" + options_from_collection_for_select(BrightTextApplication.where(:domain_id => session[:domain].id), :id, :name, @story_set_category.application_id) %>
    </div>
  </div>  
  <% unless @story_sets.blank? %>
	<div class="field form-field" style="height: auto;">
		<div class="form-field-label" style="width: auto; float: none;">Select Story Sets to clone:</div>
		<br />
	  	<% @story_sets.each do |story_set| %>
		    <div class="form-field-label"><%= check_box_tag "story_sets[]", story_set.id, true %></div>
		    <div class="form-field-value"><%= story_set.name %></div>
		    <br style="clear: both;" />
	    <% end %>
	</div>
  <% end %>  
 
  <div class="actions" style="padding-top:200px">
    <button style="height:28px; margin-right:420px" id="back_btn">Back</button><%= f.submit :value => 'Save ' + session[:style].group_alias.titleize, :id => "save_survey_btn" %>
  </div>
<% end %>
