<script>
  $( function() {
    $("#new_button").button().click( function(){
       document.location.href='/story_set_categories/new?filter=<%= @filter %>';
    });
  });
  
  function onFilterSelect()
  {
    var selector =  $("#filterSelector")[0];
    document.location.href = "/story_set_categories?filter=" + selector.options[ selector.selectedIndex ].value;
  }    
</script>

<div style="height=60px; width:100px">&nbsp;</div>
<button id="new_button" style="float:left">New <%= session[:style].group_alias.titleize %></button>
<div class="toolbar" style="float:left; padding:5px 0px 0px 100px;">Show For <%= session[:style].app_alias.titleize %>:
<select id="filterSelector" onChange="onFilterSelect()">
<%
  selected = 'selected' if @filter == "__none"
%>
 <option <%= selected %> value="__none" >All applications</option>
<%
  selected = ''
  selected = 'selected' if @filter == "__unassigned"
%>
 <option <%= selected %> value="__unassigned">-- unassigned --</option>
<%

  @applications.each do | app |
    selected = ''
    selected = 'selected' if @filter == app.id.to_s   
%>
    <option value="<%=app.id%>" <%= selected %>><%= app.name %></option>
<%
  end
%>
</select>
<% if(@filter != "__none" && !@application.blank?) %>
	<button onclick="window.location.assign('<%= reorder_story_set_categories_rank_path(@application) %>')">Reorder Categories</button>	
<% else %>
	<button disabled="disabled" >Reorder Categories</button>
<% end %>

<!-- <a href="/bright_text_applications">Back To <%#= session[:style].app_alias.pluralize.titleize %></a> -->
</div>

<div style="height:110px; width:100px">&nbsp;</div>


<table>
  <tr>
  	<td width="50"><b> Order </b></td>
    <td width="200"><b>Name</b></td>
    <td width="300"><b>Description</b></td>
    <td width="150"></td>    
    <td width="100"><b><%= session[:style].set_alias.pluralize.titleize %><b></td>
  </tr>

<% @story_set_categories.each do |story_set_category| 
  questionCountQuery = StorySet.find_by_sql ["select count( id ) as count from story_sets where category_id = ?", story_set_category.id ]
  count = questionCountQuery[0].count
  label = session[:style].set_alias
  label = label.pluralize unless count == 1

%>
  <tr class="info_row">
  	<td>
  		<% if(!@filter.blank?) %>
    		<%= story_set_category.rank %>
    	<% end %>
    </td>
    <td><%= link_to story_set_category.name, edit_story_set_category_path(story_set_category) %></td>
    <td><%= link_to story_set_category.description, edit_story_set_category_path(story_set_category)  %></td>
    <td><%= link_to 'Delete', story_set_category, :confirm => 'Are you sure?', :method => :delete %></td> 
    <td><a href="/story_sets?filter=<%= story_set_category.id %>"><%= count %> <%= label %></a></td>
  </tr>
<% end %>
</table>
