<script>
  $( function() {
    $("#new_button").button().click( function(){
       document.location.href='/stories/new?filter=<%= @filter %>';
    });
  });
  
  function onFilterSetSelect()
  {
    var selector =  $("#setSelector")[0];
    document.location.href = "/stories?filter=" + selector.options[ selector.selectedIndex ].value;
  } 
</script>

<div style="height=60px; width:100px">&nbsp;</div>
<button id="new_button" style="float:left">New <%= session[:style].story_alias.titleize %></button>
<div class="toolbar" style="float:left; padding:5px 0px 0px 100px;">Show For <%= session[:style].set_alias.pluralize.titleize %>:
<select id="setSelector" onChange="onFilterSetSelect()" >
<%
  storySetFilter = @filter
  selected = 'selected' if storySetFilter.empty?
%>

 <option <%= selected %>></option>
 
<%
  selected = ''
  selected = 'selected' if storySetFilter == "__unassigned"
%>
 <option <%= selected %> value="__unassigned">-- unassigned --</option>
<%

  @story_sets.each do | set |
    selected = ''
    selected = 'selected' if storySetFilter == set.id.to_s  
%>
    <option value="<%=set.id%>" <%= selected %>><%= set.name %></option>
<%
  end
%>
</select>



<%
  parentObj = StorySet.find_by_id( @filter )
  parentId = "__undefined"
  parentId = parentObj.category_id.to_s unless parentObj == nil
%>
<% if(!storySetFilter.empty?) %>
	<button onclick="window.location.assign('<%= reorder_stories_rank_path(@filter) %>')">Reorder stories rank</button>	
<% end %>
<a href="/story_sets?filter=<%= parentId %>">Back To <%= session[:style].set_alias.titleize %></a>
</div>
<div style="margin-right: 100px; float: right;">
	<%= form_tag(stories_path, :method => :get) do %>
		<%= text_field_tag :q %>
		<%= submit_tag 'Search' %>
	<% end %>
</div>
<div style="height:110px; width:100px">&nbsp;</div>

<table id="stories_table" cellspacing="0">
	<tbody id="sortable">
	  <tr>
	    <td width="200"><b>Name</b></td>
	    <td width="400"><b>Summary</b></td>
	    <% if(!storySetFilter.empty?) %>
	    	<td width="200"><b>Rank</b>
	    <% end%>
	    <td width="200"><b><%= session[:style].set_alias.titleize %></b></td> 
	    <th></th>
	    <th></th>
	  </tr>
		
		<% @stories.each do |story| %>
		  <tr class="stories_info_row">
		    <td style="width:100px"><%= (story.name).blank? ? "" : highlight(story.name, @highlighted_phreses, :highlighter => '<b>\1</b>') %></td>
		    <td style="width:300px">
		    	<%= story.description.blank? ? "" : highlight(truncate(story.description, :length => 120), @highlighted_phreses, :highlighter=>'<b>\1</b>') %>
		     
		    </td>
		    <% if(!storySetFilter.empty?) %>
		    	<td><%= story.rank %></td>
		    <% end %>
		    <td style="width:100px"><%= story.set %></td>
		    <td class="story_management"><%= link_to 'Edit', edit_story_path(story) %></td>
		    <td class="story_management"><%= link_to 'Clone', 'stories/' + story.id.to_s + '/clone' %></td>   
		    <td class="story_management"><%= link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		  
		<% end %>

	</tbody>
</table>

