<% content_for :javascripts do %>
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/browserDetect.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
     $('span.clk').hover(function()
        { $("ul.random").show(); }, 
      function()
        { $("ul.random").hide(); 
      })
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
        $('#tabs div').hide();
        $('#tabs div:first').show();
        $('#tabs ul li:first').addClass('active');
        $('#tabs ul li a').click(function(){ 
        $('#tabs ul li').removeClass('active');
        $(this).parent().addClass('active'); 
        var currentTab = $(this).attr('href'); 
        $('#tabs div').hide();
        $(currentTab).show();
        return false;
      });
    });
  </script>
<% end %>


<div id="tabs">
  <ul class="nav">
    <li ><a href=".step1" title="">Step 1</a></li>
    <li ><a href=".step2" title="" >Step 2</a></li>
    <li><a href=".step3" title="" >Step 3</a><span class="last-img"></span></li>    
  </ul> 
  <div class="step1">
    <h3>Enter a title</h3>
    <%= form_for(@story, :validate => true) do |f| %>
      <ul class=" step1-form ">
        <li>
          <%= f.text_field :category, class: 'txt-step txt', placeholder: "example: John's Apologies" %>
        <li>
          <label class="lblTxt">Subtitle</label>
          <%= f.text_field :name, class: 'txt-step txt', placeholder: "example: Sorry I've been a creep" %>
        </li>
        <li>
          <label for="description" class="lblTxt">Text</label>
          <%= f.text_area :description, class: 'txtarea', placeholder: 'Type anything you want here...' %>
        </li>
        </ul>
    <% end %>
  </div>
  <div class="step2">
    <ul class="random">
        <li> <a href="#" title="Highlight text">Highlight some text and right-click</a>
        </li>
        <li> <a href="#" title="Select">Select 'Create Changepoint'</a></li>
        <li> <a href="#" title="alternative text">Enter some alternative text</a></li>
        <li> <a href="#" title="Hit 'enter'">Hit 'enter'</a></li>
        <li> <a href="#" title="disappear">Click away from the Changepoint menu to
         make it disappear.</a></li>
        <li> <a href="#" title="Be sure to Save">Click on the changepoint you've
         created to see your changes. Be sure to Save!</a></li>
                <li><span class="pinto"></span></li>
    </ul>
    <%= form_for(@story, :validate => true) do |f| %>
      <h3><%= @story.category %></h3>
      <h2><%= @story.name %></h2>
      <ul class=" step2-form ">
        <ul class="etc">
          <li>
            <label for="description" class="lblTxt">Please enter some text</label>
            <%= f.text_area :description, class: 'txtarea'%>
          <li class="ftr1 ftr2" style="float:left;">
            <span class="clk">Advanced Features</span>
            <a href="#" title="View a video" class="link">View a video on more advanced features</a>
          </li>
        </ul>
      </ul>
      <p class="ftr1">
        <!-- <a href="#"  class="btn-step btn">Save</a> -->
        <%= f.submit "Save", class: 'btn-step btn' %>
        <strong>Click Save at any time.Then restart the app on your mobile device to see what you created!</strong>
      </p>
    <% end %>
 </div>

<div style="width:700px; height:50px">
<%= form_for(@story, :validate => true) do |f| %>
  <div class="field form-field" style="float:left; padding-right:60px; width:700px">
    <div class="form-field-label">Name:</div>
    <div class="form-field-value"><%= f.text_field :name, :onfocus=>"this.value = this.value;" %></div>
  </div>
  <div class="field form-field" style="float:left; padding-right:60px; width:700px">
    <div class="form-field-label"><%= session[:style].set_alias.titleize %>:</div>
    <div class="form-field-value">
      <%= f.select :story_set_id, options_from_collection_for_select(StorySet.where(:domain_id => session[:domain].id), :id, :name, @story.story_set_id)%>
    </div>
    
  </div> 
  <%= f.hidden_field :description, :id => "fieldSummary" %>
  <%= f.hidden_field :descriptor,  :id => "fieldDescriptor" %>
</div>
<% end %>


<div style="width:700px; height:450px">
<!--   WAND WAND WAND WAND WAND  -->
  <div id="main_container" class="viewportcontainer">
    <div id="controls1" style="width:748px; height:43px;padding:2px;margin:5px" class="ui-widget-header ui-corner-all">
    
      
      <div style="border: 0px dashed grey; width:180px; padding:5px 5px 2px 10px;float:left">
        <button id="edit_choicesets">Choicesets</button>
      </div>
      <div style="float:right; padding: 5px 0px;">
        <button id="instant_rewrite1">Instant Rewrite</button>
      </div>  
      <div style="border: 0px dashed grey; width:200px; padding:2px 25px 5px 10px;float:right" id="tone-control1">
        <div id="gradient1" style="float:right; padding: 0px 0px 0px 0px; font-weight:bold;"></div>
        <div style="padding:0px 0px 5px 0px;">Tone: </div>
        <div id="slider1" style="width:100%;"></div>
      </div>          
                
    </div>   
  
    <div id="bt_one" class="btEditor">BT Wand</div>


  </div>
</div>


<!--   END WAND END WAND END WAND  -->

<div class="actions">
  <button style="height:28px; margin-right:420px" id="back_btn">Back</button><button onclick='saveStory()'id="save_story_btn"> Save </button>
</div>

<div id="dialog" title="Basic dialog" display="none" >
  <p></p>
</div>