<script>
  $(function(){
   //set client_side_validation for selection list
   $("#story_set_category_application_id").change(function(){
  		var settings = window[$('form[data-validate]').attr('id')];
		$("#story_set_category_name").isValid(settings.validators);
   });
  });


</script>

<%= form_for([:admin, @story_set_category],:validate=>true, :html => { :role => "form", :class=>"form"} ) do |f| %>
  <% if @story_set_category.errors.any? %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <b><%= pluralize(@story_set_category.errors.count, "error") %> prohibited this <%= session[:style].group_alias.titleize %> from being saved:</b>
        <% @story_set_category.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name, :class=>'control-label' %>
    <%= f.text_field :name, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class=>'control-label' %>
    <%= f.text_field :description, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <label for="categories" class="control-label"><%= session[:style].app_alias.titleize %></label>
    <%= f.select :application_id, options_from_collection_for_select(BrightTextApplication.where(:domain_id => session[:domain].id),:id,:name, @story_set_category.application_id), {}, {:class=>'form-control'} %>
  </div>
  <% unless @story_sets.blank? %>
        <div class="form-group">
                <label for="categories" class="control-label">Select Story Sets to clone</label>
	  	<% @story_sets.each do |story_set| %>
                <div id="categories" class="checkbox">
                    <label for="<%=story_set.id%>">
                      <%= check_box_tag "story_sets[]", story_set.id, true %><%= story_set.name %>
                    </label>
                </div>
	    <% end %>
	</div>
  <% end %>
<div class="row">
  <div class="col-md-2">
    <%= link_to 'Back', admin_story_set_categories_path,  {:class => "btn btn-default"}   %>
  </div>
  <div class="col-md-10">
    <span class="pull-right">
      <%= f.submit :id => "save_survey_btn", :value => "Save " + session[:style].group_alias.titleize, :class => "btn btn-primary" %>
    </span>
  </div>
</div>
<% end %>
