<script>
  $(function(){
    $("#main-table").tablesorter();
  });
  
  function onFilterSelect()
  {
    var selector = $("#filterSelector")[0];
    document.location.href = "/admin/story_set_categories?filter=" + selector.options[ selector.selectedIndex ].value;
  }
</script>
<% breadcrumb :root, @application%>
<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-9">
      <span class="pull-right">
        <%= link_to 'New ' + session[:style].group_alias.titleize, new_admin_story_set_category_path(:filter=>@filter), {:class => "btn btn-success"}%>
      </span>
    </div>
      <div class="col-md-2 col-md-offset-1">
        <h3><%=session[:style].group_alias.pluralize.titleize%> List</h3>
      </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <form class="form-inline" role="form">
        <div class="form-group">
          <label for="filterSelector" class="control-label">Select <%= session[:style].app_alias.titleize %></label>
          <select id="filterSelector" onChange="onFilterSelect();" class="form-control">
            <%
            selected = 'selected' if @filter == "__none"
          %>
            <option <%= selected %> value="__none" >All applications</option>
            <%
            selected = ''
            selected = 'selected' if @filter == "__unassigned"
          %>
            <option <%= selected %> value="__unassigned">-- unassigned --</option>
            <%
            @applications.each do | app |
              selected = ''
              selected = 'selected' if @filter == app.id.to_s
            %>
              <option <%= selected %> value="<%=app.id%>"><%= app.name %></option>
            <%end%>
          </select>
        </div>
        <% if @story_set_categories.size > 1 %>
        <div class="form-group">
            <% if(@filter != "__none" && !@application.blank?) %>
                <%= link_to 'Reorder ' + session[:style].group_alias.pluralize.titleize, admin_reorder_story_set_categories_rank_path(@application),  {:class => "btn btn-primary"}   %>
            <% else %>
              <button class="btn btn-primary" disabled="disabled"><%= 'Reorder ' + session[:style].group_alias.pluralize.titleize%></button>
            <% end %>
        </div>
        <% end %>
      </form>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-10  col-md-offset-1">
      <table id="main-table" class="table table-bordered table-striped tablesorter tablesorter-bootstrap" >
        <thead class="tablesorter-header">
          <tr class="tablesorter-headerRow">
            <th data-sort="int">Order</th>
            <th data-sort="string">Name</th>
            <th data-sort="string">Description</th>
            <th data-sort="int" ><%= session[:style].set_alias.pluralize.titleize %></th>
            <th data-defaultsort='disabled' class="sorter-false">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @story_set_categories.each do |story_set_category|
            questionCountQuery = StorySet.find_by_sql ["select count( id ) as count from story_sets where category_id = ?", story_set_category.id ]
            count = questionCountQuery[0].count
            label = session[:style].set_alias
            label = label.pluralize unless count == 1

          %>
            <tr>
              <td>
                <% if(!@filter.blank?) %>
                  <%= story_set_category.rank %>
                <% end %>
              </td>
              <td><a href="/admin/story_sets?filter=<%= story_set_category.id %>"><%=story_set_category.name%></a></td>
              <td><a href="/admin/story_sets?filter=<%= story_set_category.id %>"><%=story_set_category.description%></a></td>
              <td><a href="/admin/story_sets?filter=<%= story_set_category.id %>"><%= count %> <%= label %></a></td>
              <td>
                <span><%= link_to 'Clone', clone_admin_story_set_category_path(story_set_category) %> | </span>
                <span><%= link_to 'Delete', admin_story_set_category_path(story_set_category), data:{:confirm => 'Are you sure?'}, :method => :delete %> | </span>
                <span style="text-align: left;"><%= link_to 'Properties', edit_admin_story_set_category_path(story_set_category) %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
