<%= render :partial => "admin/shared/reorder_rank_commons"%>
<% breadcrumb :bright_text_application, @application%>
<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <h3><%=session[:style].group_alias.pluralize.titleize%> List</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_tag update_story_set_categories_rank_admin_story_set_categories_path, :id=> "reorder_form" do %>
      <%= hidden_field_tag :filter, params[:application_id]%>
      <table id="sorted_table" class="table table-bordered table-striped sorted_table">
        <thead>
          <tr>
            <th>Name</th>
            <th><%= session[:style].group_alias.titleize %></th>
            <th>Description</th>
            <th>Rank</th>
          </tr>
        </thead>
        <tbody>
          <% @story_set_categories.each do |story_set_category| %>
            <tr>
              <td><%= story_set_category.name %></td>
              <td><%= story_set_category.application %></td>
              <td><%= story_set_category.description %></td>
              <td class="rank_cell" ><%= story_set_category.rank %>
                <%= fields_for "story_set_categories[]",  story_set_category do |f| %>
                  <% f.hidden_field :rank %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-2">
          <%= link_to 'Back', admin_story_set_categories_path,  {:class => "btn btn-default"}   %>
        </div>
        <div class="col-md-2">
          <%= link_to_function "Update Order", "update_order(); return false;", class: "btn btn-primary"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>