<script>
  $(function(){
   $("#save_story_set_btn").button(); 
   $("#back_btn").button().click( function(e){
    e.preventDefault();
    document.location.href="/story_sets?filter=<%= @story_set.category_id.to_s %>"; 
    return false;    
   });; 
  });
  
  function onCategorySelect()
  {
    var selector =  $("#categorySelector")[0];
    $("#storySetId")[0].value = selector.options[ selector.selectedIndex ].value;
  }
</script>

<%= form_for(@story_set) do |f| %>
  <% if @story_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story_set.errors.count, "error") %> prohibited this story_set from being saved:</h2>

      <ul>
      <% @story_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-field">
    <div class="form-field-label"><%= f.label :name %>:</div>
    <div class="form-field-value"><%= f.text_field :name %></div>
  </div>
  
  <div class="field form-field">
    <div class="form-field-label"><%= f.label :rank %>:</div>
    <div class="form-field-value"><%= f.text_field :rank, :style => "width:40px" %> (number - lower to move up)</div>
  </div>
  
  <div class="field form-field" >
    <div class="form-field-label"><%= session[:style].group_alias.titleize %>:</div>
    <div class="form-field-value"><select onChange="onCategorySelect()" id="categorySelector">
      <%
          selected = "selected='true'" if @story_set.category_id == nil
       %>    
      <option <%= selected %>>-- unassigned --</option>
      <% 
        cats = StorySetCategory.find_by_sql ["select * from story_set_categories where domain_id = ?", session[:domain].id ]
        cats.each do | cat |
          selected = ""
          selected = "selected='true'" if cat.id == @story_set.category_id 
       %>
           <option <%= selected %> value="<%= cat.id %>"><%= cat.name %></option>
       <%
         end
      %>    
      </select>
      <%= f.hidden_field :category_id, :id=>:storySetId, :value =>  @story_set.category_id  %>
    </div>
    
  </div>
  <% unless @stories.blank? %>
  	  <%= hidden_field_tag :original_story_set, @stories_set_original.id%>
	  <div class="field form-field" style="height: auto;">
	  	<% @stories.each do |story| %>
		    <div class="form-field-label"><%= check_box_tag "stories[]", story.id, true %></div>
		    <div class="form-field-value"><%= story.name %></div>
		    <br style="clear: both;" />
	    <% end %>
	  </div>
  <% end %>
  <div class="actions" style="padding-top:200px">
    <button style="height:28px; margin-right:480px" id="back_btn">Back</button><%= f.submit :id => "save_story_set_btn", :value => "Save" %>
  </div>
<% end %>
