<script>
  $( function() {
    $("#new_button").button().click( function(){
       document.location.href='/story_sets/new?filter=<%= @filter %>';
    });
  });
  
  function onFilterSelect()
  {
    var selector =  $("#filterSelector")[0];
    document.location.href = "/story_sets?filter=" + selector.options[ selector.selectedIndex ].value;
  }  
</script>

<div style="height=60px; width:100px">&nbsp;</div>
<button id="new_button" style="float:left">New Question</button>
<div class="toolbar" style="float:left; padding:5px 0px 0px 100px;">Show For Survey:
<select id="filterSelector" onChange="onFilterSelect()">
<%
  selected = 'selected' if @filter.empty?
%>
 <option <%= selected %>></option>
<%
  selected = ''
  selected = 'selected' if @filter == "__unassigned"
%>
 <option <%= selected %> value="__unassigned">-- unassigned --</option>
<%

  @categories.each do | category |
    selected = ''
    selected = 'selected' if @filter == category.id.to_s    
%>
    <option value="<%=category.id%>" <%= selected %>><%= category.name %></option>
<%
  end
%>
</select>
<%
  parentObj = StorySetCategory.find_by_id( @filter )
  parentId = "__undefined"
  parentId = parentObj.application_id.to_s unless parentObj == nil
%>
<a href="/story_set_categories?filter=<%= parentId %>">Back To Survey</a>
</div>


<div style="height:110px; width:100px">&nbsp;</div>


<table>
  <tr>
    <td style="width:50px"><b>Rank</td>
    <td style="width:200px"><b>Name</td>
    <td style="width:200px"><b>Survey</td>
    <td style="width:200px"><b>Answers</b></td>
    <td></td>
    <td></td>
  </tr>

<% @story_sets.each do |story_set|
  countQuery = StorySet.find_by_sql ["select count( id ) as count from stories where story_set_id = ?", story_set.id ]
  count = countQuery[0].count
  label = "Answer"
  label = label + "s" unless count == 1
%>
  <tr>
    <td style="width:50px"><%= story_set.rank %></td>  
    <td style="width:250px"><%= story_set.name %></td>
    <td style="width:200px"><%= story_set.category %></td>
    <td><%= count %> <%= label %> <a href="/stories?filter=<%= story_set.id %>">(show/edit)</a></td>
    <td><%= link_to 'Edit', edit_story_set_path(story_set) %></td>
  </tr>
<% end %>
</table>



