<div class="tab-pane" id="step_2">
  <div class="jumbotron">
    <div class="container">
      <%= form_for([:apologywiz,@story], :validate => true, :html => { :method => :put, class: 'edit_story'}, :remote => true) do |f| %>
      <div class="row">
      <div class="col-md-6">
      <!--   END WAND END WAND END WAND  -->
      <%= f.hidden_field :id, id: 'story_id' %>
      <h3 id="category_name"><%= @story.category %></h3>
      <h4 id="name"><%= @story.name %></h4>
      <label for="description" class="control-label"><h4>Please enter some text</h4></label>
      <div class="row">
        <!--   WAND WAND WAND WAND WAND  -->
        <div id="main_container" class="col-md-12" style="height:250px">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Editor</h3>
            </div>
            <div class="panel-body">
              <div id="bt_one" class="form-control btEditor">BT Wand</div>
            </div>
          </div>
        </div>
      </div>
      <%= f.hidden_field :description, class: 'txtarea', id: 'fieldSummary' %>
      <%= f.hidden_field :descriptor,  :id => "fieldDescriptor" %>

    </div>
      <div class="col-md-6">
        <br/>
        <br/>
        <div class="bs-callout bs-callout-info">
          <p>Highlight some text and right-click</p>
          <p>Select 'Create Changepoint'</p>
          <p>Enter some alternative text</p>
          <p>Hit 'enter'</p>
          <p>Click away from the Changepoint menu to make it disappear.</p>
          <p>Click on the Changepoint you've created to see your changes. Be sure to Save!</p>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= f.submit :id => "save_story_btn", :value => "Save ", :class => "btn btn-primary" %>
        </div>
        <div class="col-md-6 col-md-offset-4">
          <span class="clk"><h4>Advanced Features</h4></span>
          <p><a href="#"><h4>View a video on more advanced features</h4></a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Click Save at any time. Then restart the app on your mobile device to see what you created!</h4>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>