<%= form_for([:admin, @app_submission]) do |f| %>
  <% if @app_submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_submission.errors.count, "error") %> prohibited this app_submission from being saved:</h2>

      <ul>
      <% @app_submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bright_text_application_id %><br />
    <%= f.text_field :bright_text_application_id %>
  </div>
  <div class="field">
    <%= f.label :domain_id %><br />
    <%= f.text_field :domain_id %>
  </div>
  <div class="field">
    <%= f.label :story_set_values %><br />
    <%= f.text_area :story_set_values %>
  </div>
  <div class="field">
    <%= f.label :story_set_digests %><br />
    <%= f.text_area :story_set_digests %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
